In [2]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# getting our data ready
car_sales = pd.read_csv("data/datasets_1211_2177_car_ad.csv",encoding="ISO-8859-1")
car_sales
car_sales.head()

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN

In [10]:
# split the data into X and y

from sklearn.model_selection import train_test_split
print("Getting your data ready")
X = car_sales.drop('price',axis =1)
y = car_sales['price']
print("X data \n",X)
print("y Data \n",y)

Getting your data ready
X data
                 car       body  mileage  engV engType registration  year  \
0              Ford  crossover       68   2.5     Gas          yes  2010
1     Mercedes-Benz      sedan      173   1.8     Gas          yes  2011
2     Mercedes-Benz      other      135   5.5  Petrol          yes  2008
3     Mercedes-Benz        van      162   1.8  Diesel          yes  2012
4     Mercedes-Benz      vagon       91   NaN   Other          yes  2013
...             ...        ...      ...   ...     ...          ...   ...
9571        Hyundai  crossover      140   2.0     Gas          yes  2011
9572     Volkswagen      vagon      150   1.6  Petrol          yes  1986
9573  Mercedes-Benz  crossover      180   3.5  Petrol          yes  2008
9574          Lexus      sedan      150   3.5     Gas          yes  2008
9575           Audi      other       71   3.6  Petrol          yes  2007

          model  drive
0          Kuga   full
1       E-Class   rear
2        CL 550   rear
3         B 180  front
4       E-Class    NaN
...         ...    ...
9571     Tucson  front
9572  Passat B2  front
9573     ML 350   full
9574     ES 350  front
9575         Q7   full

[9576 rows x 9 columns]
y Data
 0       15500.0
1       20500.0
2       35000.0
3       17800.0
4       33000.0
         ...
9571    14500.0
9572     2200.0
9573    18500.0
9574    16999.0
9575    22500.0
Name: price, Length: 9576, dtype: float64

In [12]:
print("Spliting data ")
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

Spliting data

In [15]:
# Build machine learning model
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [19]:
# finding missing data from dataset
# lets try to convert string data into numeric values
# create X and y again

X = car_sales.drop('price',axis=1)
y = car_sales['price']

car_sales.isna().sum()
# remove rows with missing values
car_sales.dropna(inplace=True)

In [21]:
car_sales.isna().sum()

car             0
price           0
body            0
mileage         0
engV            0
engType         0
registration    0
year            0
model           0
drive           0
dtype: int64

In [25]:
# create again x and y
X = car_sales.drop('price',axis=1)
y = car_sales['price']

In [28]:
# build machine learning model 
clf = RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [29]:
categorical_featurs = ["car", "body", "engType", "registration", "model", "drive"]
one_hot = OneHotEncoder()

In [31]:
transformer = ColumnTransformer([('one_hot', one_hot, categorical_featurs)], remainder='passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X

<8739x953 sparse matrix of type '<class 'numpy.float64'>'
	with 78324 stored elements in Compressed Sparse Row format>

In [38]:
np.random.seed(42)
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [ ]:
y = y.astype(int)
y

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test,y_test)